<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>
<body>

  <!--For columnLInk-->
  <th th:fragment="column_link(moduleUrl, fieldName, columnLabel, removeTag)" th:remove="${removeTag}">
    <a class="text-black"
       th:href="@{${moduleUrl} + '/page/' + ${currentPage} + '?sortField=' + ${fieldName} + '&sortDir=' + ${sortField != fieldName ? sortDir : reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
      [[${columnLabel}]]
    </a>
    <span th:if="${sortField == fieldName}" class="text-black"
          th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}">
    </span>
  </th>

  <!--For a tag page link-->
  <a th:fragment="page_link(moduleURL, pageNum, label)"
     class="page-link"
    th:href="@{${moduleURL} + '/page/' + ${pageNum} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''} + ${categoryId != null ? '&categoryId=' + categoryId : ''}}">
  [[${label}]]
  </a>

  <div th:fragment="paginations(moduleURL, entityName)" th:remove="tag">
    <div class="text-center m-1" th:if="${totalItem > 0}">
      <div>Showing [[${entityName}]] # [[${startCount}]] to [[${endCount}]] of [[${totalItem}]]</div>
    </div>
    <div class="text-center m-1" th:unless="${totalItem > 0}">
      <span>No [[${entityName}]] found</span>
    </div>
    <div th:if="${totalPages >= 1}">
      <nav>
        <ul class="pagination justify-content-center">
          <li th:class="${currentPage > 1 ? 'page-item': 'page-item disabled'}">
            <a th:replace="~{fragments :: page_link(${moduleURL}, 1, 'First')}"></a>
          </li>
          <li th:class="${currentPage > 1 ? 'page-item': 'page-item disabled'}">
            <a th:replace="~{fragments :: page_link(${moduleURL},${currentPage - 1}, 'Previews')}"></a>
          </li>
          <li th:class="${currentPage != i ? 'page-item': 'page-item active'}"
              th:each="i : ${#numbers.sequence(1, totalPages)}">
            <a th:replace="~{fragments :: page_link(${moduleURL}, ${i}, ${i})}"></a>
          </li>
          <li th:class="${currentPage < totalPages ? 'page-item': 'page-item disabled'}">
            <a th:replace="~{fragments :: page_link(${moduleURL}, ${currentPage + 1}, 'Next')}"></a>
          </li>
          <li th:class="${currentPage < totalPages ? 'page-item': 'page-item disabled'}">
            <a th:replace="~{fragments :: page_link(${moduleURL}, ${totalPages}, 'Last')}"></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <!--For head-->
  <head th:fragment="page_head(title, remove)" th:remove="${remove}">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <title>[[${title}]]</title>
  </head>

  <div th:fragment="footer" class="text-center">
    <p>Shopme Control Panel - Copyright &copy; Shopme</p>
  </div>

  <div th:fragment="search_form_and_message(moduleURL)">
    <form th:action="@{${moduleURL}}" class="input-group rounded" >
      <input type="hidden" name="sortField" th:value="${sortField}" />
      <input type="hidden" name="sortDir" th:value="${sortDir}" />

      <input type="search" name="keyword" th:value="${keyword}" placeholder="Filter" class="form-control rounded" style="max-width: 200px" required/>
      &nbsp;&nbsp;
      <button type="submit" class="btn btn-primary input-group-text border-0">
        <i class="fas fa-search"></i>
      </button>
      &nbsp;&nbsp;
      <button type="button" class="btn btn-secondary" onclick="clearFilter()">
        <i class="fas fa-eraser"></i>
      </button>
    </form>

    <div th:if="${message != null}" class="alert alert-success text-center">
      [[${message}]]
    </div>
  </div>
</body>
</html>