<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="fragments :: page_head('Home | Shopme Admin', 'tag')" />
<body>
<div class="container-fluid">
	<div th:replace="navigation :: menu"></div>
	<div>
		<h4>Shopme Control Panel</h4>
		<h1>Welcome</h1>
		<a th:href="@{/account}" sec:authentication="principal.fullname"></a>
		<span sec:authentication="principal.authorities"></span>
	</div>

	<div th:replace="fragments :: footer"></div>
</div>
</body>
</html>