<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: page_head('Users | Shopme Admin', 'tag')}">
<body>
<div class="container-fluid">
    <div th:replace="~{navigation :: menu}"></div>
  <div>
        <h1>Manage Categories</h1>
        <a th:href="@{/categories/new}" class="fas fa-folder-plus fa-2x icon-dark" title="Create New User"></a>
        &nbsp;&nbsp;
        <a th:href="@{/categories/export/csv}" class="fas fa-file-csv fa-2x icon-dark" title="Export to CSV"></a>
    </div>

    <div th:replace="~{fragments :: search_form_and_message('/categories/')}"></div>
    <div class="full-details">
        <table class="table table-hover table-responsive-xl">
            <thead class="thead-dark">
            <tr>
                <th class="hideable-column">
                    ID
                </th>
                <th>
                    Category Image
                </th>
                <th  th:replace="~{fragments :: column_link('/categories', 'name', 'Category Name', 'none')}"></th>

                <th class="hideable-column">
                    Alias
                </th>
                <th>
                    Enabled
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="category : ${listCategories}">
                <td class="hideable-column">[[${category.id}]]</td>
                <td>
                    <img th:src="@{${category.imagePath}}">
                </td>
                <td>[[${category.name}]]</td>
                <td class="hideable-column">[[${category.alias}]]</td>
                <td>
                    <a th:if="${category.enabled == true}" class="fas fa-check-circle fa-2x icon-dark"
                       th:href="@{'/categories/' + ${category.id} + '/enabled/false'}" title="Disable this category"></a>
                    <a th:if="${category.enabled == false}" class="fas fa-circle fa-2x icon-silver"
                       th:href="@{'/categories/' + ${category.id} + '/enabled/true'}" title="enable this category"></a>
                </td>
                <td>
                    <a class="fa-regular fa-pen-to-square fa-2x icon-dark " title="edit this category" th:href="@{'/categories/edit/' + ${category.id}}"></a>
                    &nbsp;
                    <a th:if="${category.hasChildren == false}" class="fa-regular fa-trash-can fa-2x icon-dark link-delete" title="delete this category" th:href="@{'/categories/delete/' + ${category.id}}" th:entityId="${category.id}"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="less-details">
        <div th:each="category : ${listCategories}" class="row m-1">
            <div class="row-4">
                <img th:src="@{${category.imagePath}}">
            </div>

            <div class="col-8">
                <div>[[${category.name}]]</div>
                <div>
                    <a th:if="${category.enabled == true}"
                       class="fas fa-check-circle fa-2x icon-dark"
                       th:href="@{'/categories/' + ${category.id} + '/enabled/false'}"
                       title="Disable this category"></a>
                    <a th:if="${category.enabled == false}"
                       class="fas fa-circle fa-2x icon-silver"
                       th:href="@{'/categories/' + ${category.id} + '/enabled/true'}"
                       title="enable this category"></a>
                    &nbsp;
                    <a class="fa-regular fa-pen-to-square fa-2x icon-dark "
                       title="edit this category"
                       th:href="@{'/categories/edit/' + ${category.id}}"></a>
                    &nbsp;
                    <a th:if="${category.hasChildren == false}"
                       class="fa-regular fa-trash-can fa-2x icon-dark link-delete"
                       title="delete this category"
                       th:href="@{'/categories/delete/' + ${category.id}}"
                       th:entityId="${category.id}"></a>

                </div>
            </div>
            <div>&nbsp;</div>
        </div>
    </div>
    <div th:if="${keyword != null}" class="text-center">
        <span>Search result does not show categories in hierrarchical form</span>
    </div>
    <th:block th:unless="${keyword != null}">
        <div th:replace="~{fragments :: paginations('/categories', 'top-level categories')}"></div>
    </th:block>

    <div th:replace="~{modal_fragments :: confirm_modal}"></div>
    <div th:replace="~{fragments :: footer}"></div>

<script type="text/javascript">
    moduleURL = "[[@{/categories}]]";

    $(document).ready(function() {
        $(".link-delete").on("click", function(e) {
            e.preventDefault();
            showDeleteConfirmDialog($(this), 'category');
        });
    });
</script>
<script th:src="@{/js/common_list.js}"></script>
</div>
</body>
</html>