<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: page_head('Users | Shopme Admin')}">
<body>
<div class="container-fluid">
    <div th:replace="~{navigation :: menu}"></div>
  <div>
        <h1>Manage Brands</h1>
        <a th:href="@{/brands/new}" class="fas fa-folder-plus fa-2x icon-dark" title="Create New User"></a>
        &nbsp;&nbsp;
        <a th:href="@{/brands/export/csv}" class="fas fa-file-csv fa-2x icon-dark" title="Export to CSV"></a>
    </div>

    <div th:replace="~{fragments :: search_form_message('/brands/')}"></div>
    <div class="full-details">
        <table class="table table-hover table-responsive-xl">
            <thead class="thead-dark">
            <tr>
                <th class="hideable-column">
                    Brand ID
                </th>
                <th>
                    Logo
                </th>
                <th>
                    Brand Name
                </th>
                <th>
                    Categories
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="brand : ${listOfBrands}">
                <td>[[${brand.id}]]</td>
                <td>
                    <img th:src="@{${brand-LogosPath}}" style="width: 100px" class="img-fluid"/>
                </td>
                <td>[[${brand.name}]]</td>
                <td>
                    <th:block th:each="category : ${brand.categories}">
                        <span class="badge badge-secondary" th:text="${category.name}"></span>
                    </th:block>
                </td>
                <td>
                    <a class="fa-regular fa-pen-to-square fa-2x icon-dark " title="edit this category" th:href="@{'/brands/edit/' + ${brand.id}}"></a>
                    &nbsp;
                    <a class="fa-regular fa-trash-can fa-2x icon-dark link-delete" title="delete this category" th:href="@{'/brands/delete/' + ${brand.id}}" th:entityId="${brand.id}"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    </div>

    <div th:replace="~{modal_fragments :: confirm_modal}"></div>
    <div th:replace="~{fragments :: footer}"></div>

<script type="text/javascript">
    moduleURL = "[[@{/categories}]]";

    $(document).ready(function() {
        $(".link-delete").on("click", function(e) {
            e.preventDefault();
            showDeleteConfirmDialog($(this), 'category');
        });
    });
</script>
<script th:src="@{/js/common_list.js}"></script>
</div>
</body>
</html>